@fiexd-width: 160px;
@fiexd-width-s: 60px;
@fiexd-height: 60px;
@clean-width: 0px;
@media screen {
  * {
    margin: 0;
    padding: 0;
    body {
      .main {
        aside {
          width: @fiexd-width;
          height: 100vh;
          background: rgba(249, 83, 85, 0.85);
          position: fixed;
          transition: 0.2s;
        }

        section {
          header {
            transition: 0.2s;
            position: fixed;
            top: 0;
            z-index: 9;
            width: 100%;
            height: @fiexd-height;
            left: @fiexd-width;
            background: rgba(27, 136, 238, 0.85);
          }

          .content {
            transition: 0.2s;
            padding: @fiexd-height 0 0 @fiexd-width;
          }

          footer {
            transition: 0.2s;
            padding-left: @fiexd-width;
          }
        }
        &.hideNav {
          aside {
            width: @clean-width;
            & > div {
              display: none;
            }
          }
          section {
            header {
              left: @clean-width;
            }
            .content {
              padding: @fiexd-height 0 0 @clean-width;
            }
            footer {
              padding-left: @clean-width;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1500px) {
  }
  @media (max-width: 1500px) and (min-width: 1190px) {
  }
  @media (max-width: 1190px) and (min-width: 768px) {
  }
  @media (max-width: 768px) {
    section {
      header {
        left: @clean-width;
      }
      .content {
        padding: @fiexd-height 0 0 @clean-width;
      }
      footer {
        padding-left: @clean-width;
      }
    }
  }
}
